.partners__link {
    text-align: center;
    display: block;
    margin: 15px 0;
}

.linkContainer{
    margin: 20px 0;
}

.linkClasseur{
    font-family: $fonts3;
    font-size: 18px;
    font-weight: bold;
    color: $color1;
    margin-left: 30px;
}