.sectionPartners {
    &__sub {
        @include breakmin($tablet) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__content {
        width: 95%;
        margin: auto;
        @include breakmin($tablet) {
            flex: 33%;
            &:first-child {
                flex: 100%;
            }
        }
        p {
            font-family: $fonts2;
            font-size: 16px;
            text-align: center;
            line-height: 24px;
            color: $color3;
            font-weight: bold;
            margin: 0;
        }
    }
    &__titleCategories {
        font-family: $fonts2;
        font-size: 28px;
        text-align: center;
        color: $color1;
        margin: 29px 0 0 0;
    }
    &__title {
        font-family: $fonts4;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 27px;
        color: $color3;
        margin: 16px 0 0 0;
    }
    &__image {
        width: 143.59px;
        height: 84.23px;
        display: block;
        margin: 32px auto 0 auto;
    }
    &__textBottom {
        font-family: $fonts2;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 27px;
        color: $color3;
        margin: 32px 0 46px 0;
    }
}


.partner__item {
    text-align: center;
}
