// color
$color1: #000000; // black
$color2: #ffffff; // white
$color3: #371C56; // purple
$color4: #FFD635; // yellow
$color5: #202020; // black alternative
$color6: #C43A9D; // pink
$color7: #F5A623; // yellow
$color8: #27ABD8; // blue
$color9: #8FD630; // green
$color10: #E30678; // pink
$color11: #282D2F; // black
$color12: #7D7D7D; // gray
$color13: #979797; // gray
$color14: #89A9C0; // blue gray
$color15: #6F6F6F; // gray
$color16: #E9E4E4; // white gray
$color17: #FDEFD9; // white gray
$color18: #AEAEAE;
$color19: #E0EDF2;

// fonts
$directory-fonts : '../fonts/';
$fonts1: 'Damion';
$fonts2: 'Roboto-Regular';
$fonts3: 'Roboto-Thin';
$fonts4: 'Roboto-Bold';

// img
$directory-img: '../img/';

// responsive size
$mobile: 480px;
$tablet: 768px;
$desktop-s: 991px;
$desktop: 1200px;
$desktop-l: 1440px;
//$screen-4k: 2560px;

$um-form-tablet: 500px;
$um-form-tablet-l: 800px;